.App {
  text-align: center;
}
.userStyle{
  color: rgb(103, 51, 89);
font-weight: bolder;
font-size: large;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
